<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangjianghua.shardingsphere.mapper.MerchantMapper">

    <select id="selectAll" resultType="map">
        select * form merchant m left join t_org o on m.org_id = o.org_id;
    </select>
</mapper>
